body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #9b7363;
  color: #4A2A1D;
}

header {
  background-color: white;
  padding: 10px 20px;
  color: white;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  border-radius: 50%;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 28px;
  color: #4A2A1D;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

nav li {
  border-top: 1px solid #ffffff22;
}

nav a {
  display: block;
  padding: 12px 20px;
  color: #4A2A1D;
  text-decoration: none;
  text-align: center
}

nav a:hover {
  background-color: #603B2A;
}

.hidden {
  display: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}
h3{
    color: #4A2A1D;
    text-align: center;
}
h2 {
  color: #4A2A1D;
}
